body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

#wrapperDiv {
    background-color: #d2d2d2;
    border: 5px solid #a6a6a6;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
  
#display {
    width: 100%;
    padding: 10px;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    text-align: right;
    background-color: #c2c2c2;
    color: #333;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #b3b3b3;
    color: #333;
    box-shadow: 0 4px #999;
    transition: all 0.3s ease;
  }
  
button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.oprtrBtn {
    background-color: #ffb84d;
  }
  
  .calculate {
    background-color: #4db8ff;
  }
  
  button:hover {
    background-color: #999;
  }